python-dotenv
scrapy
click
pyyaml
prometheus_client
# pandas + beautifulsoup + html5lib used for reading tabular data
pandas
beautifulsoup4
html5lib
requests
cloudscraper

# extras
boto3
paho-mqtt
redis
pyppeteer

# requirement of botocore
python-dateutil<2.8.1,>=2.1
